.flex-container {
  padding: 0px;
  margin: 0;
  list-style: none;

  display: flex;  
  flex-flow: row wrap; /* Dirección: linea. Si no cabe, se baja. ( prueba a quitarle el wrap )*/
  justify-content: space-around; /* Justificamos con espacio alrrededor de los items ( Quitalo y mira el resultado )*/

}

.flex-container li{
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  /*margin: 10px;*/
   
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

