
@mixin generar-columnas ( $dimension){
    $i: 0;
    
    .one-#{$dimension}.columns{ 
      width: 4.66666666667%; 
    }
    
    @each $tam in one, two, three, four, five, six, seven, eight, nine, ten, eleven, twelve {
      .#{$tam}-#{$dimension}.columns {
        width: 4.66666666667% + $i*8.66666666667%;
      }
      $i: $i + 1;
    }

    .twelve-#{$dimension}.columns{ 
       margin-left: 0;
     }
  } 